.PromotionCard {
  background-image: url("../../assets/icons/fingerprint-texture.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  /* -- */
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17.9%;
}

.innerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.reversed {
  flex-direction: row-reverse;
}

.shade {

}

.imageContainer {
  max-width: 100%;
  max-height: 100%;
}

.imageContainer > img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.content {
  width: 45%;
  color: #fff;
}

.title {
  font-family: "Recoleta Alt", sans-serif;
  font-size: 4.65rem;
  line-height: 1;
  letter-spacing: 0%;
  margin-bottom: 2.25rem;
}

.subTitle {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 1.3rem;
  line-height: 1.75;
  letter-spacing: 0%;
}

@media (max-width: 768px) {
  .imageContainer {
    width: 80%; 
    height: auto;
  }

  .imageContainer > img {
    width: 100%;
    height: auto;
  }
}
