.Pillar {
  width: 100%;
  height: 80vh;
  padding: 0 17.5%;
  display: flex;
}

.rightPillar {
  background-image: url("../../assets//icons//pillar-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 90%;
}

.leftPillar {
  background-image: url("../../assets//icons//pillar-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 90%;
}

.contentContainer {
  min-width: 42%;
  height: auto;
  text-align: center;
  padding-top: 10%;
}

.title {
  font-family: "Recoleta Alt", sans-serif;
  color: #03be77;
  font-size: 6rem;
  line-height: 1;
  letter-spacing: 0%;
  margin-bottom: 2rem;
}

.subTitle {
  font-family: "Gilroy-Regular", sans-serif;
  color: #000;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0%;
}

.subTitle > b {
  font-family: "Gilroy-Medium";
}
