.Deserve {
  width: 100%;
  height: 100vh;
  /* -- */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 14%;
}

/* Image Container */
.innerImageContainer {
  background-image: url("../../assets/icons/deserve-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  padding-top: 51%;
}

.contentContainer {
  padding: 0 20%;
  text-align: center;
}

.title {
  font-family: "Recoleta Alt", sans-serif;
  color: #03be77;
  font-size: 6rem;
  line-height: 1;
  letter-spacing: 0%;
  margin-bottom: 2rem;
}

.subTitle {
  font-family: "Gilroy-Medium", sans-serif;
  color: #000;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: 0%;
  padding: 0 16%;
}

.subTitle > b {
  font-family: "Gilroy-Bold";
}
